.display {
  height: 200px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: start;
  align-items: end;
}

.operator-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.operator-row {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  height: 50px;
  margin-top: 10px;
  border: 0;
  border-radius: 8px;
  background-color: grey;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.clear {
  flex: 3.55;
  background-color: rgb(240, 128, 128); 
}

.display-text {
  font-size: 90px;
  margin: 20px;
}

.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operator {
  background-color: rgb(106, 166, 235);
}
